/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* --------------------------------------- */
/** end reset css**/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
body {
  max-width: 1440px;
  margin: auto;
  font-family: "Work Sans";
  font-size: 14px;
  background-color: #fffef8;
}

/* HEADER */
header {
  width: 100%;
  display: grid;
}

header .edit-mode {
  width: 100%;
  height: 0;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: white;
  gap: 12px;
}
header .edit-mode img {
  height: 16px;
}
.header-container {
  width: 100%;
  max-width: 1140px;
  height: 42px;
  display: flex;
  justify-content: space-between;
  margin: 50px auto 139px;
}

h1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  line-height: 26px;
  color: #b1663c;
}

h1 > span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.5px;
  line-height: 12px;
  text-transform: uppercase;
}

/* NAVIGATION */

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  gap: 44px;
}
nav ul li {
  font-size: 16px;
}

nav ul li a {
  text-decoration: none;
  cursor: pointer;
  color: black;
}

nav ul li a:hover {
  font-weight: 800;
}

/* MAIN */

main {
  width: 950px;
  margin-inline: auto;
}

section {
  width: 100%;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1d6154;
}

/* INTRODUCTION */
#introduction {
  height: 355px;
  display: flex;
  align-items: center;
  gap: 72px;
  margin-bottom: 139px;
}
#introduction figure {
  width: 474px;
  height: 100%;
}
#introduction img {
  display: block;
  margin: auto;
  width: 100%;
}

#introduction article {
  flex: 1;
}
#introduction h2 {
  margin-bottom: 1em;
}

#introduction p {
  margin-bottom: 0.5em;
  color: #3d3d3d;
}

/* PORTFOLIO */

#portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
#portfolio h2 {
  width: 200px; 
}

.modify-edit-mode {
  position: absolute;
  top: 7px;
  right: 28%;
  width: 84px;
  height: 16px;
  display: none;
}
.modify-edit-mode button {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background: none;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  cursor: pointer;
}
.modify-edit-mode button img {
  height: 100%;
  filter: invert(100%);
}
.modify-edit-mode button p {
  font-size: 14px;
  letter-spacing: 1px;
}

/* filtres */
.categories {
  width: 585px;
  height: 38px;
  display: flex;
  gap: 10px;
  margin: 50px auto;
}

.categories button {
  flex: 1 1 auto;
  min-width: 100px;
  background-color: #fffef8;
  color: #1d6154;
  border: 1px solid #1d6154;
  border-radius: 60px;
  font-family: "Syne";
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.categories button.active,
.categories button:hover {
  background-color: #1d6154;
  color: white;
}
/* Fin du css pour les filtres */

.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 18px;
  grid-row-gap: 16px;
  margin-top: 0;
}

.gallery img {
  width: 100%;
  margin-bottom: 7px;
}

.gallery figcaption {
  font-size: 13px;
  color: #3d3d3d;
}

/* LOGIN */

.login-form {
  width: 380px;
  margin-inline: auto;
  margin-top: 10px;
  margin-bottom: 350px;
  text-align: center;
}

.login-form h2 {
  margin-bottom: 37px;
}

.login-form form {
  display: grid;
  gap: 30px;
}

.login-form .form-group {
  width: 380px;
}

.login-form .form-group label {
  display: block;
  font-size: 14px;
  margin-bottom: 7px;
  font-weight: 500;
  text-align: left;
}

.login-form .form-group input {
  width: 100%;
  max-width: 380px;
  padding: 10px;
  border: none;
  background-color: #fff;
  box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
  font-size: 16px;
}

.login-form button {
  width: 180px;
  height: 36px;
  background-color: #3e7064;
  color: #fff;
  text-align: center;
  border: none;
  border-radius: 60px;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  margin-inline: auto;
  margin-top: 7px;
  transition: background-color 0.3s;
}

.login-form button:hover {
  background-color: #2f544b;
}

.login-form .forgot-password {
  display: block;
  font-size: 14px;
  font-weight: 500;
  color: #3d3d3d;
  cursor: pointer;
}

.login-form .forgot-password:hover {
  text-decoration: underline;
}

/* CONTACT */
#contact {
  width: 380px;
  margin: 57px auto 45px;
  color: #3d3d3d;
}
#contact > * {
  text-align: center;
}
#contact h2 {
  margin-bottom: 12px;
}
#contact p {
  font-size: 16px;
}
#contact form {
  text-align: left;
  display: flex;
  flex-direction: column;
}

#contact label {
  margin-top: 40px;
  margin-bottom: 11px;
  font-weight: 500;
}

#contact input {
  height: 51px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact textarea {
  height: 174px;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact input[type="submit"] {
  width: 180px;
  height: 36px;
  font-size: 14px;
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin-top: 40px;
  margin-inline: auto;
  text-align: center;
  border-radius: 60px;
}

/* FOOTER */
footer {
  height: 60px;
  width: 1440px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #fff;
}

footer nav li {
  font-size: 14px;
  font-weight: 300;
  margin-right: 107px;
  cursor: pointer;
}
